CONTROL_LISTEN=0.0.0.0
CONTROL_PORT=8001
CONTROL_USERS_DB=data/users.sqlite3
CONTROL_TOKEN=
BOT_URL=https://bot.local
BOT_TOKEN=
IRC_NAME=irc.local
IRC_HOST=irc.local
IRC_PORT=6697
IRC_PASSWORD=
IRC_USER_DIR=data/thelounge
FILES_ADMIN=
FILES_USER_DIR=data/filebrowser