CONTROL_LISTEN=0.0.0.0
CONTROL_PORT=8001
CONTROL_TOKEN=
BOT_URL=http://localhost:8002
BOT_TOKEN=
LLDAP_HTTP_URL=http://172.16.100.1:10001
LLDAP_LDAP_URL=ldap://172.16.100.1:10002
LLDAP_BASE_DN="ou=people,dc=lldap,dc=home"
LLDAP_USERNAME=admin
LLDAP_PASSWORD=
